{% extends 'basic.html' %}
{% block title %} AboutUs {% endblock %}
{% block body %}

<div class="container-fluid px-0">
    <img src="https://source.unsplash.com/1600x600/?icecream,about" class="d-block w-100" alt="...">
</div>

<div class="container text-center pt-3">
    <h2 class="py-2">About Me, The IceCream Man</h2>
    <img src="https://www.w3schools.com/w3images/chef.jpg">
    <h3 class="py-3">I am Who I Am!</h3>
    <p><em>With Passion For Real, Good Food</em></p>
    <p>ust me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of lorem
        ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut rutrum.
        Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent tincidunt
        sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non
        fringilla.</p>
</div>
<div class="container-fluid px-0">
    <img src="https://source.unsplash.com/1600x600/?map,map" class="d-block w-100" alt="...">
</div>

{% endblock %}