{% extends 'basic.html' %}
{% block title %} Service {% endblock %}
{% block body %}
<div class="container-fluid px-0">
    <img src="https://source.unsplash.com/1600x600/?icecream,icecream" class="d-block w-100" alt="...">
</div>
<div class="container my-4 px-0">
    <div class="row">
        <div class="col-sm-6">
            <img src="https://source.unsplash.com/1600x600/?icecream,strawberry" class="d-block w-100" alt="...">
        </div>
        <div class="col-sm-6 text-center">
            <h5>About IceCream</h5>
            <p><i>Tradition since 1889</i></p>
            <p>The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing
                elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.We
                only use seasonal ingredients.</p>
        </div>
    </div>
</div>
{% endblock %}